* {
    font-family: serif; 
}

html {
    background-color:black;
}

body {
    overflow:hidden;
    margin: 0;
}

hr {
    border: .7px solid #B9BEC4;
    margin: 0 5px;
}

.search-bar {
    padding: 10px;
    position: fixed;
    z-index: 2;
}

select {
    width: 100%;
}

#main-info {
    z-index: 3;
    color:black;
    position: relative;

}

#info-title {
    z-index: 3;
    color:black;
    position: relative;
    font-style: italic;
    font-weight: 100;
}

#side-nav {
    padding: 5px;
    width: 350px;
    margin: auto;
    margin-bottom: 15px;
    position: fixed;
    z-index: 2;
    height: 100%;
}

#graph-container {
    z-index: 2;
}

#info-container {
    overflow-y:scroll;
    position: relative;
    left: -400px;
    padding: 15px;
    background-color: #F6F6F6;
    z-index: 0;
    width: auto;
    height: auto;
    border: 1px outset black;
    transition: .5s;
}

.info-content {
    border: .7px solid gray; 
    padding:10px; 
    height:auto;
}

p {
    font-family: serif;
    font-size:15px;
}

h1 {
    color: #F6F6F6;
    text-align: center;
    font-style:italic;
}

#query-form {
    z-index: 2;
}

label {
    color: gray;
}
